<div (click)="onContainerClicked($event)">
  <button #btnShowDialog style="visibility: hidden;" data-toggle="modal" [attr.data-target]="'#' + identificador"></button>
  <div class="modal fade" id={{identificador}} tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="confirmarTitulo">
            <ng-content select=".app-modal-header"></ng-content>
          </h5>
          <button type="button" (click)="hide()" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        </div>
        <div class="modal-body">
          <ng-content select=".app-modal-body"></ng-content>
        </div>
        <div class="modal-footer">
          <ng-content select=".app-modal-footer"></ng-content>
        </div>
      </div>
    </div>
  </div>
</div>