<p>
  import-sheet works!
</p>
<h1>Bootstrap h1</h1>
<h2>Bootstrap h2</h2>
<h3>Bootstrap h3</h3>
<h4>Bootstrap h4</h4>
<h5>Bootstrap h5</h5>
<h6>Bootstrap h6</h6>
<div class="container-fluid">
  <div class="row">
    <div class="col-md-4">
      <h1>Alinhamento de texto</h1>
      <p class="text-left">texto à esquerda</p>
      <p class="text-right">texto à direita</p>
      <p class="text-center">texto centralizado</p>
      <p class="text-justify">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero magnam ea vel corporis vitae reprehenderit, soluta optio
        dolores perferendis, aliquam repudiandae ipsam! Nisi incidunt ad aspernatur cumque excepturi impedit eius.</p>

      <!--p class="text-nowrap">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio non a assumenda, quidem omnis cumque iure magnam quibusdam,
        nobis asperiores laborum quos quae, facere, earum quod. Sunt iure, corrupti? Quaerat.</p-->
    </div>

    <div class="col-md-4">
      <p class="text-lowercase">Todo TEXTO MINUSCULO</p>
      <p class="text-uppercase">todo o texto maiúsculo</p>
      <p class="text-capitalize">texto em capital case</p>
    </div>
    <div class="col-md-4">
      <ul class="list-inline">
        <li>item</li>
        <li>item</li>
        <li>
          <ul class="">
            <li>item</li>
            <li>item</li>
            <li>item</li>
          </ul>
        </li>
        <li>item</li>
        <li>item</li>
      </ul>
    </div>
  </div>
  
</div>

<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <table class="table table-responsive table-striped table-hover">
        <thead>
          <tr>
            <th>Protocolo</th>
            <th>Descrição</th>
            <th>CNPJ</th>
          </tr>
        </thead>
        <tbody>
          <tr class="danger">
            <td>dado</td>
            <td>dado</td>
            <td>dado</td>
          </tr>
          <tr class="success">
            <td>dado</td>
            <td>dado</td>
            <td>dado</td>
          </tr>
          <tr>
            <td>dado</td>
            <td>dado</td>
            <td>dado</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
  </div>