<div class="editView">
  <div class="container-fluid box">
    <div class="row div-scrool">
      <div class="col-12 text-center text-primary">
        <h5>Editar Item do Pedido</h5>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
        <h1>TESTE</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12 text-center">
        <button class="btn btn-default" (click)="onEditClose()">Fechar</button>
      </div>
    </div>
  </div>
</div>