<button #btnShowDialog style="visibility: hidden;" data-toggle="modal" data-target="#itemPedido"></button>

<div *ngIf="exibir" class="modal fade" id="itemPedido" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="titulo" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="titulo">
          Editar Item - Nº Pedido: <mark>{{pedidoSimulado.number}}</mark>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6">
            <label for="tax" class="control-label">Margem Global</label>
            <input [value]="margemGlobal | number:'1.2'" disabled type="text" class="form-control" id="tax">
          </div>
          <div class="col-6">
            <label for="productUnitCost" class="control-label">Margem do Pedido</label>
            <input [value]="pedidoSimulado.margin | number:'1.2'" disabled type="text" class="form-control" id="productUnitCost">
          </div>
        </div>
        <hr>
        <div class="row">
          <div class="col-12">
            <label for="productName" class="control-label">Produto</label>
            <input *ngIf="!novoItem" [value]="item.productName" disabled type="text" class="form-control" id="productName">
            <input *ngIf="novoItem" (selectItem)="selectItem($event.item)" 
                    autofocus style="color: orange;" 
                    placeholder="Entre com as iniciais do produto" 
                    id="typeahead-format" 
                    type="text" 
                    class="form-control"
                    [ngModel]="item.productName" 
                    [ngbTypeahead]="search" 
                    [resultFormatter]="formatter"
                    [resultTemplate]="rt"/> <!-- vide lá no final -->
            <div *ngIf="searching">
              <i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
              <span class="small">pesquisando...</span>
            </div>
            <div class="form-control-feedback" *ngIf="searchFailed">
              <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
              <span class="text-danger small">Desculpe, não foi possível carregar os produtos!</span></div>
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="tax" class="control-label">Imposto</label>
            <input [value]="item.tax | currency:'BRL':true" disabled type="text" class="form-control" id="tax">
          </div>
          <div class="col-6">
            <label for="productUnitCost" class="control-label">Custo unitário</label>
            <input [value]="item.productUnitCost | currency:'BRL':true" disabled type="text" class="form-control" id="productUnitCost">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="margem" class="control-label">Margem</label>
            <input [value]="item.margin | number:'1.2' | margincolor" disabled type="text" class="form-control" id="margem">
          </div>
           <div class="col-6">
            <label for="valorTotal" class="control-label">Valor total</label>
            <input [value]="item.totalItem | currency:'BRL':true" disabled type="text" class="form-control" id="valorTotal">
          </div>
        </div>
        <div class="row">
          <div class="col-6">
            <label for="quantidade" class="control-label">Quantidade</label>
            <input [(ngModel)]="item.quantidade" (ngModelChange)="onEdit()" type="number" data-bind="value:replyNumber" class="form-control" id="quantidade">
          </div>
          <div class="col-6">
            <label for="salesPrice" class="control-label">Preço de venda</label>
            <input [(ngModel)]="item.salesPrice" (ngModelChange)="onEdit()" type="number" data-bind="value:replyNumber" class="form-control" id="salesPrice">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row">
          <div class="col-12 text-center">
            <button type="button" [disabled]="editado" (click)="calcularMargem()" [ngClass]="{'btn-default': editado, 'btn-success': !editado}" class="btn">Recalcular</button>
            <button type="button" (click)="closeCancel()" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
            <button type="button" [disabled]="!editado" (click)="closeConfirm()" [ngClass]="{'btn-default': !editado, 'btn-primary': editado}" class="btn" data-dismiss="modal">Confirmar</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #rt let-r="result" let-t="term">
  {{ r.productName }}
</ng-template>